* { margin: 0; padding: 0; box-sizing: border-box; }
h1{
	color: blue;
	font-style: italic;
}
body { font: 1.8em Helvetica, Arial; }

footer { margin: 5; padding: 5; background: whitesmoke; position: fixed; bottom: 0; width: 100%;}